# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DL_demos\demo5_analyze_weights_featuremap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
