# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DL_demos\demo4_resnet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
