# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DL_demos\demo7_metric-learn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
